body{
	font-size: 200%;
}
#calculator{
	padding: 50px;
}
input{
	display: inline-block;
	width: 200px;
	height: 50px;
	font-size: 50%;
}
button{
	margin: 25px 10px;
	font-size: 75%;
}
#output{
	display: none;
}
#output.show{
	display: block;
}